body {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}


.clockWidget {
    display: flex;
    width: 550px;
    background-color: orange;
    flex-direction: column;
    border: 1px solid black;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.clockWidget > li {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: white;
    font-size: 30px;
}

.tabs {
    display: flex;
    flex-direction: column;
    
}

.headers {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.headers > li, .content {
    width: calc(250px/3);
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    background-color: lightgreen;
    border: 2px solid gray;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}

.headers:hover {
    cursor: pointer;
}

.content {
    width: 249px;
    padding-top: 75px;
    padding-bottom: 75px;
    border-radius: 0;
    border-top: 0;
}

.headers > li.active {
    border-bottom: 0;
    font-weight: bold;
}

.weather {
    margin-left: 40px;
}

.weatherBox {
    width: 250px;
    height: 175px;
    border: 1px solid black;
    background-color: lightpink;
}

.weatherBox ul li {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    list-style: none;
}

.middleRow {
    display: flex;
}
